html{
    background-color: white;
}

a{
    color: #322939;
    font-size: 13px;
}

p{
    font-family: sans-serif;
    font-size: 13px;
}

/*header navigation CSS*/
.menuNav{
    list-style: none;
    margin: 20px 0px 20px 60px;
    padding: 0;
}

.left_listMenu{
    display: inline;
    margin: 20px;
}

.right_listMenu{
    float: right;
    margin: -5px 10px 10px 10px;
}

#nav_profile{
    margin-left: 60px;
}

.divider{
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.flickr_photoStream{
    padding: 20px 0px 0px 0px;
}

.tile_container{
    display: block;
    padding: 40px;
    text-align: center;
}

#photo_tile{
    height: 393px;
    width: 326px;
    background-color: #F5F5F5;
    display: inline-table;
    margin: 0px 24px 24px 19px;
}

#flickr_images{
    width: 326px;
    height: 196px;
    object-fit: cover;
}

#flickr_title{
    height: 37px;
    width: 40%;
    overflow: hidden;
    display: inline;
    float: left;
    padding: 0 0 0 15px;
    word-wrap: break-word;
}

#flickr_author{
    height: 37px;
    display: inline;
    width: 40%;
    overflow: hidden;
    float: right;
    padding: 0 15px 0 0;
}

#tile_divider{
    margin-top: 60px;
}

#flickr_tag{
    overflow: hidden;
    height: 20px;
    margin: 40px 20px 20px 20px;
}

#flickr_description{
    overflow: hidden;
    height: 50px;
    margin: 40px 20px 0px 20px;
}

#photo_tile p:nth-child(5){
    overflow: hidden;
    height: 80px;
    width: 295px;
    margin: 40px 20px 0px 20px;
}